<div class="modal hidden" id="create-group-modal" data-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h3>Создать группу</h3>
      <button class="icon-btn" data-action="modal.close" data-modal="create-group-modal">✕</button>
    </div>

    <input type="text" id="create-group-name" placeholder="Название группы" />

    <div class="modal-actions">
      <button class="ghost-btn" data-action="modal.close" data-modal="create-group-modal">Отмена</button>
      <button class="save-btn" data-action="groups.create">Создать</button>
    </div>
  </div>
</div>
