{% extends 'layouts/base.html' %}

{% block body %}
  {# AUTH #}
  {% include 'partials/components/auth.html' %}

  {# APP SHELL #}
  <div class="app hidden" id="app" data-app-shell>
    {% include 'partials/components/header.html' %}

    <main class="content" data-screens>
      {% include 'partials/screens/home.html' %}
      {% include 'partials/screens/tasks.html' %}
      {% include 'partials/screens/finance.html' %}
      {% include 'partials/screens/group_tasks.html' %}
      {% include 'partials/screens/add.html' %}
      {% include 'partials/screens/settings.html' %}
    </main>

    <button class="add-btn" data-action="add.open">＋ Добавить</button>

    {% include 'partials/components/bottom_nav.html' %}
  </div>

  {# MODALS #}
  {% include 'partials/modals/create_group.html' %}
  {% include 'partials/modals/invite_user.html' %}
  {% include 'partials/modals/manage.html' %}
  {% include 'partials/modals/task_details.html' %}
{% endblock %}
